BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE

CHANNELS=@paisabase1,@aatgpay,@smrtwallet

WELCOME_MESSAGE=🌟 Welcome!

Before using this bot, you must join all our official channels.

After joining, press the "I've Joined ✅" button below.
