#################################################
# TELEGRAM BOT
#################################################

BOT_TOKEN=8833159445:AAGw_is_KcX18ujSf3lyOhg6fbfIDfaKH4M

ADMIN_ID=8856521475

#################################################
# DATABASE
#################################################

DATABASE_PATH=data/database.db

#################################################
# LOGGING
#################################################

LOG_LEVEL=INFO

#################################################
# REQUIRED CHANNELS
#################################################

REQUIRED_CHANNEL_1=@paisabase1
REQUIRED_CHANNEL_2=@aatgpay
REQUIRED_CHANNEL_3=@Mobiuspe0

#################################################
# DEFAULT NEWS CHANNELS
#################################################

DEFAULT_CHANNEL_1=@paisabase1
DEFAULT_CHANNEL_2=@aatgpay
DEFAULT_CHANNEL_3=@Mobiuspe0

#################################################
# NEWS
#################################################

NEWS_CHECK_INTERVAL=300
MAX_ARTICLES_PER_FEED=10
MAX_POSTS_PER_CYCLE=20

#################################################
# MINI WEB APP
#################################################

WEBAPP_URL=https://worker-production-0ac4.up.railway.app

SECRET_KEY=CHANGE_THIS_TO_A_RANDOM_LONG_SECRET_KEY

#################################################
# SERVER
#################################################

PORT=8000
HOST=0.0.0.0
